/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paddingUp {
  padding-top: 5%;
}

.paddingDown {
  padding-bottom: 5%;
}


.chart-standard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}